#academyLabHeader {
  all: initial;
  --spacingbase: 0.9em;
  --heading-line-height: 24px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
#academyLabHeader .academyLabBanner {
  background: #fff;
  color: #333332;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.4;
  overflow-wrap: break-word;
  display: flex;
  background-color: #fff;
  border-bottom: 3px solid #ff6633;
  height: 145px;
}
#academyLabHeader .academyLabBanner h1, #academyLabHeader .academyLabBanner h2, #academyLabHeader .academyLabBanner h3, #academyLabHeader .academyLabBanner h4, #academyLabHeader .academyLabBanner h5, #academyLabHeader .academyLabBanner .h2, #academyLabHeader .academyLabBanner .h3, #academyLabHeader .academyLabBanner .h4, #academyLabHeader .academyLabBanner h5, #academyLabHeader .academyLabBanner .h5 {
  font-family: inherit;
  font-weight: 500;
  line-height: var(--heading-line-height);
  margin: calc(0.75 * var(--spacingbase)) 0 calc(0.5 * var(--spacingbase)) 0;
  color: #ff6633;
}
.is-dark #academyLabHeader .academyLabBanner {
  background: #333332;
  color: #fff;
}
#academyLabHeader .academyLabBanner .container {
  align-items: flex-start;
  display: flex;
  margin: 0 auto;
  padding: 1.4em 0;
  width: 1140px;
  background: #fff;
  margin: 0 auto;
  height: calc(100% - 7.5em);
}
@media screen and (max-width: 1190px) {
  #academyLabHeader .academyLabBanner .container {
    width: 100%;
    max-width: 1140px;
  }
}
.is-dark #academyLabHeader .academyLabBanner .container {
  background: #333332;
}
#academyLabHeader .academyLabBanner .container .logo {
  width: 204px;
  height: 70px;
  background-image: url("/resources/labheader/images/logoAcademy.svg");
  background-repeat: no-repeat;
}
.is-dark #academyLabHeader .academyLabBanner .container .logo {
  background-image: url("/resources/labheader/images/logoAcademyDark.svg");
}
#academyLabHeader .academyLabBanner .container .widgetcontainer-lab-status {
  border-radius: calc(1 * var(--spacingbase));
  display: flex;
  justify-content: space-between;
  border: 1px solid #70d16d;
  min-width: 184px;
  max-width: 184px;
  min-height: 32px;
}
#academyLabHeader .academyLabBanner .container .widgetcontainer-lab-status > span {
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  padding: calc(0.1125 * var(--spacingbase)) calc(0.5 * var(--spacingbase)) 0 calc(0.5 * var(--spacingbase));
  background-color: #70d16d;
}
#academyLabHeader .academyLabBanner .container .widgetcontainer-lab-status > span:first-child {
  border-radius: calc(1 * var(--spacingbase) - 2px) 0 0 calc(1 * var(--spacingbase) - 2px);
  border-right: 1px solid #70d16d;
}
#academyLabHeader .academyLabBanner .container .widgetcontainer-lab-status p {
  flex: 1;
  margin: 0 calc(0.5 * var(--spacingbase));
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}
#academyLabHeader .academyLabBanner .container .widgetcontainer-lab-status > span.lab-status-icon {
  border-radius: 0 calc(1 * var(--spacingbase) - 1px) calc(1 * var(--spacingbase) - 1px) 0;
  border-left: 1px solid #70d16d;
  background-position: calc(0.4 * var(--spacingbase)) center;
  width: 36px;
  box-sizing: border-box;
}
#academyLabHeader .academyLabBanner .container .widgetcontainer-lab-status.is-notsolved > span.lab-status-icon {
  background-color: #ebf0f2;
  background-image: url(../images/ps-lab-notsolved.svg);
}
#academyLabHeader .academyLabBanner .container .widgetcontainer-lab-status.is-solved > span.lab-status-icon {
  background-image: url(../images/ps-lab-solved.svg);
}
#academyLabHeader .academyLabBanner .title-container {
  flex: 1;
  border-left: 1px solid #e6e6e6;
  padding: 0 1em;
}
#academyLabHeader .academyLabBanner .title-container h2 {
  color: #333332;
  padding: 0 0 calc(0.5 * var(--spacingbase)) 0;
  font-size: 1.5em;
}
#academyLabHeader .academyLabBanner .title-container h2:first-child {
  margin-top: -6px;
}
.is-dark #academyLabHeader .academyLabBanner .title-container h2 {
  color: #fff;
}
#academyLabHeader .academyLabBanner .title-container .button {
  border-radius: 25px;
  touch-action: manipulation;
  user-select: none;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  padding: 7px 1em;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  min-width: 120px;
  border-radius: 0px;
  background-color: #ff6633;
  margin-right: 3px;
}
#academyLabHeader .academyLabBanner .title-container .button:hover {
  background-color: #333332;
  color: #ff6633;
}
.is-dark #academyLabHeader .academyLabBanner .title-container .button:hover {
  background-color: #f6f6f6;
  color: #ff6633;
}
#academyLabHeader .academyLabBanner .title-container .link-back {
  color: #999;
  text-decoration: none;
}
#academyLabHeader .academyLabBanner .title-container .link-back:hover {
  color: #ff6633;
}
.is-dark #academyLabHeader .academyLabBanner .title-container .link-back {
  color: #ff6633;
}
.is-dark #academyLabHeader .academyLabBanner .title-container .link-back:hover {
  color: #e24920;
}
#academyLabHeader .academyLabBanner .title-container .link-back svg {
  height: 12px;
  fill: currentColor;
}

body {
  margin: auto;
  overflow-y: scroll;
}

#timer {
  font-size: 2.5em;
  font-weight: bold;
  color: red;
}

/*# sourceMappingURL=academyLabHeader.css.map */
